<%= simple_form_for(@message, :html => { :class => 'form-horizontal'}) do |f| %>
  <% if @message.errors.any? %>
    <div class="alert alert-danger">
      Please complete the required fields.
    </div>
  <% end %>

  <%= f.input :to_user_id, :collection => User.all, :label => 'To', :label_method => 'username', :input_html => { :multiple => true, :data => {:placeholder => 'Choose a user'}, :class => 'chzn-select' } %>
  
  <%= f.input :subject %>

  <%= f.input :body, :input_html => { :rows => 10, :class => "basic-form" } %>

  <%= f.submit 'Send message', :class => 'btn' %>
  
<% end %>