<%= simple_form_for(@message, :html => { :class => 'form-horizontal'}) do |f| %>
  <% if @message.errors.any? %>
    <div class="alert alert-danger">
      Please complete the required fields.
    </div>
  <% end %>

	<%= form_element(f, :to_user_id, 'message', "To", 4, { label: false, collection: User.all, label_method: 'username', input_html: { multiple: false, data: { placeholder: 'Choose a user'}, class: 'chzn-select' } }) %>

	<%= form_element(f, :subject, 'message', "Subject", 4, { label: false }) %>

	<%= form_element(f, :body, 'message', "Body", 9, { label: false, input_html: { rows: 10 } }) %>

  <%= f.submit 'Send message', :class => 'btn btn-lg btn-primary' %>

<% end %>