<div class="title"><strong><%=@message.subject %></strong>
<div class="body"><%= @message.body.html_safe %></div>
<div class="from"><%= small_avatar_of(@message.from_user) %></div>
<div class="date">Sent at <%= @message.received_at %></div>
<div class="delete"><%= link_to 'Delete this message', message_path(@message), :method => :delete, :confirm => 'Are you sure?' %></div>