<div class="section messages">

  <section class="sidebar">
    <%= render 'sidebar-messages' %>
  </section>
  
  <section class="content inbox">
  	
    <table class="table msg-overview">
    	<% @messages.each do |msg| %>
        <tr>
          <td class="msg-avatar"><%= avatar(msg.from_user) %></td>
          <td class="msg-content">
            <a href="<%= message_path(msg) %>" class="clickable-row">
            <div class="msg-username"><%= msg.from_user.username %> says:</div>
          <%= msg.subject.blank? ? truncate(msg.body, :length => 20, :omission => " ...").html_safe : msg.subject %>
            </a>
          </td>
        </tr>
      <% end %>
    </table>

  </section>
 </div>