<a name="comment-<%=@comment.id%>"></a>
<div class="comment">
  <div class="avatar"><%= small_avatar_of(@comment.user) %></div>
  <div class="comment-body"><%= @comment.body.html_safe %></div>
  <div class="user">
    <%= username(@comment.user) %>, <%= time_ago_in_words(@comment.created_at) %> ago

    <% if current_user == @comment.user %>
      <%= simple_form_for [@sit, @comment], :method => 'delete', :remote => true,
        :html => { :class => 'delete-comment-form' } do |f| %>
        <%= f.submit 'x' %>
      <% end %>
    <% end %>

  </div>
</div>