<div class="tile stamp col-md-3 header-tile">
  <div class="content">
    <h2>Search</h2>

    <ul class="nav nav-pills nav-stacked">
      <li <%='class=active' if params[:type] == 'sits' || !params[:type] %>>
        <a href="/search?q=<%=params[:q]%>&type=sits" class="item"><i class="pull-left fa fa-clock-o"></i> Sits <span class="badge"><%=@sits.count%></span></a>
      </li>
      <li <%='class=active' if params[:type] == 'users' %>>
        <a href="/search?q=<%=params[:q]%>&type=users" class="item"><i class="pull-left fa fa-user"></i> Users <span class="badge"><%=@users.count%></span></a>
      </li>
      <% if @tagged %>
        <li <%='class=active' if params[:type] == 'tagged' %>>
          <a href="/search?q=<%=params[:q]%>&type=tagged" class="item"><i class="pull-left fa fa-tag"></i> Tagged <span class="badge"><%=@tagged.count%></span></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>