<% if @notifications.empty? %>
  <div class="well well-large empty-message">
    <h1>No notifications.</h1>
    <p>When others interact with you you'll know about it here.</p>
  </div>
<% else %>

  <table class="table">
  	<% @notifications.each do |n| %>
      <tr class="<%= viewed_or_not(n) %>">
        <td class="avatar"><%= small_avatar_of(User.find(n.initiator)) %></td>
        <td>
          <a href="<%= n.link %>" class="clickable-row"><%= n.message %></a>
          <div class="time-ago"><%= time_ago_in_words(n.created_at) %> ago</div></td>
      </tr>
    <% end %>
  </table>

<% end %>