 <div class="section view-profile">

  <section class="sidebar">
    <%= render :partial => 'shared/sidebar-other' %>
  </section>
  
  <section class="content bio">
    
    <%= render :partial => 'shared/other-pills' %>

    <% if !@user.who.blank? %>    
      <p class="lead"><%= @user.who.html_safe %></p>
    <% end %>

    <% if !@user.why.blank? %>
      <p>
        <b>Why do you practice?</b><br />
        <%= @user.why.html_safe %>
      </p>
    <% end %>

    <% if !@user.practice.blank? %>
      <p>
        <b>What do you practice?</b><br />
        <%= @user.practice.html_safe %>
      </p>
    <% end %>

  </section>
</div>