 <div class="section view-profile">
  <p id="notice"><%= notice %></p>

  <section class="sidebar">
    <%= render :partial => 'shared/sidebar-other' %>
  </section>

  <section class="content bio">
    
    <%= render :partial => 'shared/other-pills' %>

    <p class="lead"><%= @user.who.html_safe %></p>

    <p>
      <b>Why do you practice?</b><br />
      <%= @user.why.html_safe %>
    </p>

    <p>
      <b>What do you practice?</b><br />
      <%= @user.practice.html_safe %>
    </p>

  </section>
</div>