<% provide(:title, 'Home') %>
<div class="section me">

  <section class="sidebar">
    <h4>Hi <%= username(current_user) %>!</h4>

    <small>You (<strong><%= current_user.username %></strong>) registered <strong><%= time_ago_in_words(current_user.created_at) %> ago</strong> 
    with the email address <strong><%= current_user.email %></strong></small>
  </section>
  
  <section class="content socialstream">

    <%= render :partial => 'shared/me-pills' %>
    
    <p>Latest updates from all of the <%= link_to "people I follow", '#' %>.</p>
    
    <% @sits.each do |sit| %>

      <%= render :partial => 'shared/sit-teaser', :locals => { :sit => sit } %>

    <% end %>
  </section>

</div>
