<% provide(:title, 'Home') %>
<div class="section me">

  <% if flash[:notice] -%>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

  <section class="sidebar">
    <%= render :partial => 'shared/sidebar-me' %>
  </section>
  
  <section class="content socialstream">

    <%= render :partial => 'shared/me-pills' %>
    
    <p>Latest updates from all of the <%= link_to "people I follow", '#' %>.</p>
    
    <% @feed_items.each do |sit| %>

      <%= render :partial => 'shared/sit-teaser', :locals => { :sit => sit } %>

    <% end %>

    <%= will_paginate @feed_items, :class => 'pagination pagination-centered' %>
  </section>

</div>
