<%= render :partial => 'shared/other_pills' %>

<% if current_user == @user %>
  <%= link_to 'Edit profile', edit_registration_path(@user), :class => 'edit-profile-btn btn btn-mini' %>
<% end %>

<% if @user.who.blank? && @user.why.blank? && @user.practice.blank? %>
  <div class="well well-large empty-message">
    <% if current_user == @user %>
      <h1>You've not filled in your profile yet!</h1>
      <p>Tell us a bit more about yourself.</p>
    <% else %>
      <h1>Empty profile!</h1>
      <p>This person hasn't filled out their profile yet.</p>
    <% end %>
  </div> 
<% end %>

<% if !@user.who.blank? %>    
  <p class="lead"><%= @user.who.html_safe %></p>
<% end %>

<% if !@user.why.blank? %>
  <div class="profile-field">
    <div class="title">Why do you practice?</div>
    <%= @user.why.html_safe %>
  </div>
<% end %>

<% if !@user.practice.blank? %>
  <div class="profile-field">
    <div class="title">What do you practice?</div>
    <%= @user.practice.html_safe %>
  </div>
<% end %>

<% if !@user.website.blank? %>
  <div class="user-website">
    <i class="icon-home"></i> <%= website(@user) %>
  </div>
<% end %>