<div class="section view-profile">
  <p id="notice"><%= notice %></p>

  <section class="sidebar">
    <%= avatar(@user, 1) %>
    <h4><%= username(@user) %></h4>
    <%= location(@user) %>
    <em>Style:</em> <%= @user.style %>
  </section>

  <section class="content profile">
    
    <%= render :partial => 'shared/other-pills' %>

    <% @sits.each do |sit| %>
 
      <%= render :partial => 'shared/sit-teaser', :locals => { :sit => sit } %>

    <% end %>

  </section>
</div>
