<div class="sidebar col-md-3">
  <%= render 'shared/full_user' %>
</div>

<div class="clearfix col-md-9">

  <% if request.referrer =~ /explore\/users/ %>
    <a href="<%=request.referrer%>" class="back-button btn btn-default">&larr; Back to new users</a>
  <% end %>

  <% if @user.private_stream && (current_user != @user) %>
    <div class="message-box">
      <h2>Private.</h2>
      <p>This is a private journal.</p>
    </div>
  <% else %>
    <% if !params[:month] && !params[:year] %>
      <% if @user.who.blank? && @user.why.blank? && @user.practice.blank? %>
        <div class="message-box">
          <% if current_user == @user %>
            <h2>You've not filled in your profile yet!</h2>
            <p>Tell us a bit more about yourself.</p>
            <div class="my-actions">
              <%= link_to 'Edit profile', edit_registration_path(@user), :class => 'edit-profile-btn btn btn-default' %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="profile">

          <% if !@user.who.blank? %>
            <p class="lead"><%= @user.who.html_safe %></p>
          <% end %>

          <div class="hidden">
            <% if !@user.why.blank? %>
              <div class="profile-field">
                <div class="title">Why do you practice?</div>
                <%= @user.why.html_safe %>
              </div>
            <% end %>

            <% if !@user.practice.blank? %>
              <div class="profile-field">
                <div class="title">What do you practice?</div>
                <%= @user.practice.html_safe %>
              </div>
            <% end %>

            <% if current_user == @user %>
              <div class="my-actions">
                <%= link_to 'Edit profile', edit_registration_path(@user), :class => 'edit-profile-btn btn btn-default' %>
              </div>
            <% else %>
              <%= link_to(feed_path(@user), :title => 'Subscribe to this users updates', :class => 'user-sit-feed') do %>
                <i class="fa fa-rss"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @sits %>
      <div class="month-view text-section">

        <select class="date_range_select">
          <%= timeline(@by_month[:sitting_totals]) %>
        </select>

        <div class="month_stats_container">
          <p class="month_stats">
            <% if @stats[:days_sat_this_month].zero? %>
              Zzzzz... Nothing logged this month :(
            <% else %>
              Sat on <%=@stats[:days_sat_this_month]%> days this month, totalling <%=@stats[:hours_sat_this_month]%> hours practice. (<%=@stats[:entries_this_month]%> entries total)
            <% end %>
          </p>
        </div>

        <div class="clearfix"></div>

        <% @listed = [] %>
        <% @sits.each do |sit| %>
          <%= render :partial => 'sits/day_journal', :locals => { :sit => sit } %>
        <% end %>

        <div class="month_navigation col-md-12">
          <% if @prev %>
            <a class="previous" href="?year=<%=@prev[0]%>&month=<%=@prev[1]%>"><i class="fa fa-chevron-left"></i> Previous</a>
          <% end %>

          <% if @next %>
            <a class="next" href="?year=<%=@next[0]%>&month=<%=@next[1]%>">Next <i class="fa fa-chevron-right"></i></a>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


