<div class="section view-profile">
  <p id="notice"><%= notice %></p>

  <section class="sidebar">
    <%= render :partial => 'shared/sidebar-other' %>
  </section>

  <section class="content profile">
    
    <%= render :partial => 'shared/other-pills' %>

    <% @sits.each do |sit| %>
 
      <%= render :partial => 'shared/sit-teaser', :locals => { :sit => sit } %>

    <% end %>

    <%= will_paginate @sits, :class => 'pagination pagination-centered' %>

  </section>
</div>
