<div class="section view-profile">
  <p id="notice"><%= notice %></p>

  <section class="sidebar">
    <%= avatar(@user, 1) %>
    <p><%= @user.first_name %> <%= @user.last_name %> (<b><%= @user.username %></b>)</p>
    <p><%= @user.city %>, <%= @user.country %></p>
  </section>

  <section class="profile">
    
    <p>
      <b>Who:</b>
      <%= @user.who %>
    </p>

    <p>
      <b>Why:</b>
      <%= @user.why %>
    </p>

    <p>
      <b>Practice:</b>
      <%= @user.practice %>
    </p>

    <p>
      <b>Style:</b>
      <%= @user.style %>
    </p>

    <% @sits.each do |sit| %>
 
      <%= render :partial => 'shared/sit-teaser', :locals => { :sit => sit } %>

    <% end %>

  </section>
</div>
