<div class="section my-profile">

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => :true, :method => :put , :class => 'form-horizontal'}) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="avatar-box">
      <%= avatar(@user, 1) %>
      <%= f.file_field :avatar %>
    </div>

    <%= f.input :first_name %>
      
    <%= f.input :last_name %>
    
    <%= f.input :dob, :as => :date, :label => 'Date of birth', :start_year => Date.today.year - 90,
                            :end_year => Date.today.year - 12, :order => [:day, :month, :year],
                            :input_html => { :class => 'span1' } %>
    
    <%= f.input :gender, :collection => [['Male', 0], ['Female', 1], ['Transgender', 2]], :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    
    <%= f.input :city %>
    
    <%= f.input :country %>

    <%= f.input :website %>    
    
    <h2>Bio</h2>
    <%= f.input :who, :label => 'Who are you?', :input_html => { :rows => 3, :class => 'basic-form' },
                :hint => 'Tell us about yourself in under 140 characters' %>
    
    <h2>Contemplative Profile</h2>
    <%= f.input :style, :label => 'Style', 
                :hint => 'What style does your practice stem from or most closely resemble?' %>
    
    <%= f.input :why, :label => 'Why do you practice?', :input_html => { :rows => 10, :class => 'basic-form' },
                :hint => 'What inspires you to meditate regularly? What do you hope to achieve?' %>
    
    <%= f.input :practice, :label => 'What do you practice?', :input_html => { :rows => 10, :class => 'basic-form' },
                :hint => 'No two sits are the same, but tell us a little about your core meditation practice.<br />
                What do you actually do when sit down on the cushion and shut your eyes?' %>
    
    
    <h2>Sits</h2>
    <%= f.input :default_sit_length %>
    
    <%= f.input :private_diary,
                :hint => 'Don\'t allow others to view my diary entries.' %>

    <%= f.submit "Update" %>

  <% end %>

  <h3>Cancel my account</h3>

    (<a href="#">Change my email address</a>)

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

  <%= link_to "Back", :back %>
</div>