<div class="section sign-up-box">
  <div class="well col-sm-8">

    <div class="row">
      <div class="brand-header">
        <%= image_tag 'logomark_trans.png', class: 'main-logo' %>
        <p class="opensit">opensit</p>
      </div>
    </div>

      <h1>Namaste! Get your beautiful, free meditation journal today.</h1>

    <div class="row">
      <div class="left col-md-offset-3 col-md-6">

        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

          <% if resource.errors.any? %>
            <div class="alert alert-danger">
              <% messages = resource.errors.full_messages.map { |msg| content_tag(:li, msg) }.join %>
              <%= messages.html_safe %>
            </div>
          <% end %>

          <%= f.input :username, placeholder: 'Choose a username', label: false, input_html: { autocomplete: 'off' } %>

          <%= f.input :email, placeholder: 'Your email', label: false, input_html: { autocomplete: 'off' } %>

          <%= f.input :password, placeholder: 'Your password', label: false, input_html: { autocomplete: 'off' } %>

          <%= f.submit "Sign up", :class => 'btn btn-primary btn-lg cta pull-left' %>

          <div class="sign_in_link">Already signed up? <a href="<%=new_user_session_path%>">Time to sign in!</a></div>
        <% end %>

      </div>
    </div>

    <div class="row col-md-12">
      <div class="our-community">
        <h2>And become part of our awesome global community!</h2>
        <% @users.each do |u|%>
          <div class="user-snippet">
            <%= sign_up_avatar(u) %>
            <div class="details"><%=u.display_name%><br>
            <%=u.location%></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
