<div class="section sign-up-box">
  <div class="well col-sm-10">

  <div class="brand-header">
    <%= image_tag 'logomark_trans.png', class: 'main-logo' %>
    <p class="opensit">opensit</p>
  </div>

  <h1>Hey seeker. Get a beautiful meditation journal today.</h1>

  <!-- <p class="its-free">It's completely free!</p> -->
    <div class="left col-md-4">


      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

        <% if resource.errors.any? %>
          <div class="alert alert-danger">
            <% messages = resource.errors.full_messages.map { |msg| content_tag(:li, msg) }.join %>
            <%= messages.html_safe %>
          </div>
        <% end %>

        <%= f.input :username, placeholder: 'A username', label: false, input_html: { autocomplete: 'off' } %>

        <%= f.input :email, placeholder: 'Your email', label: false, input_html: { autocomplete: 'off' } %>

        <%= f.input :password, placeholder: 'And a password', label: false, input_html: { autocomplete: 'off' } %>

        <div class="row"><%= f.submit "Sign up", :class => 'btn btn-primary btn-lg pull-left' %></div>

        <div class="row">Already signed up? <a href="<%=new_user_session_path%>">Time to sign in!</a></div>
      <% end %>

    </div>
    <div class="right col-md-8">
      <%=image_tag("journal_slice1.png")%>
    </div>
  </div>
</div>
