<div class="section sign-up-box">
  <div class="well col-sm-8">
    <h1>Sign up as a Fountainhead School founder</h1>

    <div class="row">
      <div class="left col-md-offset-3 col-md-6">

        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <%= f.input :username, placeholder: 'Choose a username', label: false, input_html: { autocomplete: 'off' } %>

          <%= f.input :email, placeholder: 'Your email', label: false, input_html: { autocomplete: 'off' } %>

          <%= f.input :password, placeholder: 'Your password', label: false, input_html: { autocomplete: 'off' } %>

          <%= f.submit "Sign up", :class => 'btn btn-primary btn-lg cta pull-left' %>

          <div class="sign_in_link">Already signed up? <a href="<%=new_user_session_path%>">Time to sign in!</a></div>
        <% end %>

      </div>
    </div>

  </div>
</div>
