<div class="avatar-container"><%= large_avatar_of(@user) %></div>
<div class="sidebar-content">
	<div class="username"><%= username(@user) %></div>
	<% if !@user.city.blank? || !@user.country.blank? %>
		<div class="location"><%= @user.location %></div>
	<% end %>

	<%= render 'shared/stats' %>

	<%= render 'shared/follow_button', :user => @user %>
</div>