<%= large_avatar_of(@user) %>
<div class="sidebar-content">
	<div class="display_name"><%= username(@user, false) %></div>
  <div class="username"><%= @user.username %></div>

  <%= render 'users/details' %>

	<%= render 'shared/follow_button', :user => @user %>
</div>