<ul class="nav nav-tabs">
  <li <%='class=active' if current_page?(me_path) or current_page?(root_path) %>><%= link_to 'SocialStream', me_path %></li>
  <li <%='class=active' if current_page?(my_path) %>><%= link_to 'My sits', my_path %></li>
  <li <%='class=active' if current_page?(favs_path) %>><%= link_to 'My favourites', favs_path %></li>
</ul>