<article class="sit-teaser">
  
  <div class="sit-content">
    
    <div class="time-ago"><%= time_ago_in_words(sit.created_at) %> ago <strong>edit | delete</strong></div>
    <div class="sit-header">
      You <%= teaser_title(sit) %>
    </div>

    <div class="body"><%= truncate(sit.body, :length => 400, :omission => " ...").html_safe %></div>

    <div class="sit-meta">
      <%= link_to(sit_path(sit, :anchor => "comments")) do %>
        <i class="icon-comments"></i> <%= sit.comments.count %>
      <% end %>
    </div> <!-- end .sit-meta -->

  </div> <!-- end .sit-content -->
</article>