<div class="nav-module recent-activity">
	<% if @my_latest.empty? %>
		<div class="add-a-sit"><%= link_to '<i class="icon-plus"></i> Add your first sit'.html_safe, new_sit_path %></div>
	<% else %>
		<% if current_user.id == @user.id %>
			<h4>My Recent Activity</h4>
		<% else %>
			<h4><%= @user.display_name %>'s Activity</h4>
		<% end %>
		<% for sit in @my_latest %>
			<article class="sit-teaser">
				<div class="title">
					<% if sit.s_type == 0 %>
						<i class="icon-user"></i>
					<% else %>
						<i class="icon-book"></i>
					<% end %>
					<%= teaser_title(sit, 'latest') %>
				</div>
				<div class="body">
					<%= teaser(sit, 100) %>
				</div>
				<div class="date muted">
					<%= time_ago_in_words(sit.created_at) %> ago
				</div>
			</article>
		<% end %>
	<% end %>
</div>