<% if controller.action_name.in? ['my_sits'] %>
	<%= render 'shared/user-summary' %>
	
	<% if !@user.sits.empty? %>
		<div class="nav-module my-timeline">
			<ul>
			<%= timeline(@links) %>
			</ul>
		</div>
	<% end %>

<% elsif controller.action_name.in? ['profile', 'show'] %>
	<%= render 'shared/full-user' %>
	
<% else %>
	<%= render 'shared/user-summary' %>
	<%= render 'shared/recent-activity' %>
<% end %>
