<%= render 'shared/me-header' %>

<div class="my-latest well well-small">
	<% if @my_latest.empty? %>
		<div class="add-a-sit"><%= link_to '<i class="icon-plus"></i> Add your first sit'.html_safe, new_sit_path %></p>
	<% else %>
		<p><strong>My Latest</strong></p>
		<% for sit in @my_latest %>
			<div class="sit-teaser">
				<div class="title">
					<% if sit.s_type == 0 %>
						<i class="icon-user"></i>
					<% else %>
						<i class="icon-book"></i>
					<% end %>
					<%= teaser_title(sit, 'latest') %>
				</div>
				<div class="body">
					<%= teaser(sit, 100) %>
				</div>
				<div class="date muted">
					<%= time_ago_in_words(sit.created_at) %> ago
				</div>
			</div>
		<% end %>
	<% end %>
</div>
