<% if controller.action_name.in? ['show'] %>
	<%= render 'shared/full_user' %>
	
	<% if !@user.sits.empty? %>
		<div class="nav-module my-timeline">
			<ul>
			<%= timeline(@links) %>
			</ul>
		</div>
	<% end %>

<% elsif controller.action_name.in? ['followers', 'following'] %>
	<%= render 'shared/full_user' %>
	<%= render 'shared/recent_activity' %>
<% else %>
	<%= render 'shared/user_summary' %>
	<%= render 'shared/recent_activity' %>
<% end %>
