<ul class="nav nav-tabs nav-stacked">
  <li class="nav-header">Results</li>
  <li <%= 'class=active' if params[:type] == 'sits' || !params[:type] %>><%= link_to "<i class=\"pull-left fa fa-book\"></i> Sits <span class=\"badge\">#{@sits.count}</span>".html_safe, "/search?q=#{params[:q]}&type=sits" %></li>
  <li <%= 'class=active' if params[:type] == 'users' %>><%= link_to "<i class=\"pull-left fa fa-user\"></i> Users <span class=\"badge\">#{@users.count}</span>".html_safe, "/search?q=#{params[:q]}&type=users" %></li>
  <% if @tagged %>
  	<li <%= 'class=active' if params[:type] == 'tags' %>><%= link_to "<i class=\"pull-left fa fa-tag\"></i> Tagged <span class=\"badge\">#{@tagged.count}</span>".html_safe, "/search?q=#{params[:q]}&type=tagged" %></li>
  <% end %>
</ul>