<article class="sit-teaser">
  
  <div class="side">
    <%= avatar(sit.user) %>
    <!-- <div class="icons">
      <a href="#" title="Send message to this user"><i class="icon-envelope"></i></a>
      <a href="#" title="Follow this users updates"><i class="icon-plus-sign"></i></a>
    </div> -->
  </div>
  
  <div class="sit-content">
    
    <div class="body"><%= sit.body %></div>
  
    <header>
      <% if sit.s_type.blank? %>
        <i class="icon-fire"></i> <%= link_to 'Sit:', sit %> <%= username(sit.user) %> sat for <%= sit.duration %> (<%= sit.created_at %>)
      <% elsif (sit.s_type == 1) %>
        <i class="icon-book"></i> <%= link_to "Diary: #{sit.title}", sit %> (<%= sit.created_at %>)
      <% else %>
        <i class="icon-beaker"></i> <%= link_to "Article: #{sit.title}", sit %> (<%= sit.created_at %>)
      <% end %>
    
      Posted <%= time_ago_in_words(sit.created_at) %> ago
      <%= link_to 'Edit', edit_sit_path(sit) %>
      <%= link_to 'Destroy', sit, confirm: 'Are you sure?', method: :delete %>
    </header>
    
    <div class="sit-meta">
      <i class="icon-comments"></i> <%= link_to "Comments (#{sit.comments.count})", sit_path(sit, :anchor => "comments") %>
      <i class="icon-heart"></i> <%= link_to "Add to favourites", '#' %>
      <i class="icon-share"></i> <%= link_to "Share", '#' %>
    </div> <!-- end .sit-meta -->
  </div>
</article>