<article class="sit-teaser">
  
  <div class="side">
    <%= avatar(sit.user) %>
  </div>
  
  <div class="sit-content">
    
    <div class="time-ago"><%= time_ago_in_words(sit.created_at) %> ago</div>
    <div class="sit-header">
      <% if sit.s_type == 0 %>
        <%= username(sit.user) %> sat for <%= link_to "#{sit.duration} minutes", sit, :class => 'sit-link' %>
      <% elsif (sit.s_type == 1) %>
        <%= username(sit.user) %> added a new diary: <%= link_to "#{sit.title}", sit, :class => 'sit-link' %>
      <% else %>
        <%= username(sit.user) %> added a new article: <%= link_to "#{sit.title}", sit, :class => 'sit-link' %>
      <% end %>
    </div>

    <div class="body"><%= sit.body %></div>
    
    <div class="sit-meta">
      <i class="icon-comments"></i> <%= link_to "(#{sit.comments.count})", sit_path(sit, :anchor => "comments") %>
      <i class="icon-star"></i> <%= link_to "Mark", '#' %>
      <i class="icon-share"></i> <%= link_to "Share", '#' %>
    </div> <!-- end .sit-meta -->

  </div> <!-- end .sit-content -->
</article>