<article class="sit-teaser">
  <div class="side">
    <%= avatar(sit.user) %>
  </div>
  
  <div class="sit-content">
    
    <div class="top"><%= username(sit.user) %> <%= teaser_title(sit) %> 
    <% if sit.comments.count > 0 %>
      &bull; <%= pluralize(sit.comments.count, 'comment') %>
    <% end %>
      <span class="pull-right">
      <% if request.fullpath =~ /my/ %>
        <%= sit.date %>
      <% else %>
       <%= time_ago_in_words(sit.created_at) %> ago
      <% end %>
      </span></div>

    <div class="body"><%= teaser(sit) %></div>

  </div> <!-- end .sit-content -->
  
</article>