<article class="sit-teaser">
  
  <div class="side">
    <%= avatar(sit.user) %>
  </div>
  
  <div class="sit-content">
    
    <div class="time-ago"><%= time_ago_in_words(sit.created_at) %> ago</div>
    <div class="sit-header">
      <% if sit.s_type == 0 %>
        <%= username(sit.user) %> sat for <%= link_to "#{sit.duration} minutes", sit, :class => 'sit-link' %>
      <% elsif (sit.s_type == 1) %>
        <%= username(sit.user) %> added a new diary: <%= link_to "#{sit.title}", sit, :class => 'sit-link' %>
      <% else %>
        <%= username(sit.user) %> added a new article: <%= link_to "#{sit.title}", sit, :class => 'sit-link' %>
      <% end %>
    </div>

    <div class="body"><%= truncate(sit.body, :length => 400, :omission => " ...").html_safe %></div>
    
    <div class="sit-meta">
      <%= link_to(sit_path(sit, :anchor => "comments")) do %>
        <i class="icon-comments"></i> <%= sit.comments.count %>
      <% end %>
      <%= link_to('#') do %>
        <i class="icon-star-empty"></i>
      <% end %>
      <%= link_to('#') do %>
        <i class="icon-share"></i>
      <% end %>
    </div> <!-- end .sit-meta -->

  </div> <!-- end .sit-content -->
</article>