<article class="sit-teaser">
  
  <div class="side">
    <%= avatar(sit.user) %>
  </div>
  
  <div class="sit-content">
    
    <div class="time-ago"><%= time_ago_in_words(sit.created_at) %> ago</div>
    <div class="sit-header">
      <%= username(sit.user) %> <%= teaser_title(sit) %>
    </div>

    <div class="body"><%= strip_tags(truncate(sit.body, :length => 300, :omission => " ...")) %></div>

    <!-- <div class="sit-meta">
      <%= link_to(sit_path(sit, :anchor => "comments")) do %>
        <i class="icon-comments"></i> <%= sit.comments.count %>
      <% end %>
    </div> end .sit-meta -->

  </div> <!-- end .sit-content -->
</article>