<article class="sit-full">

  <h4><%= sit.title %> by <%= link_to sit.user.username, user_path(sit.user.id) %></h4>

  <div class="body"><%= sit.body %></div>
  
  <%= link_to 'Edit', edit_sit_path(sit) %> |
  <%= link_to 'Back', sits_path %>
</article>