<article class="sit-full">

  <div class="body"><%= sit.body %></div>
  
  <h4><%= username(sit.user) %></h4>
  <%= avatar(sit.user, 1) %>
  
  <%= link_to 'Edit', edit_sit_path(sit) %> |
  <%= link_to 'Back', sits_path %>
</article>