<div class="nav-module user-summary">
	<div class="top-row">
		<div class="my-avatar"><%= small_avatar_of(@user) %></div>
		<div class="my-basics"><span class="username"><%= username(@user) %></span>
			<% if !@user.city.blank? || !@user.country.blank? %>
				<div class="my-location"><%= @user.location %></div>
			<% end %>
		</div>
	</div>

	<%= render 'shared/stats' %>
	<%= render 'shared/follow_button', :user => @user %>
</div>