<div class="user-teaser">
  <div class="avatar"><%= small_avatar_of(u) %></div>
  <div class="details">
	  <div class="name"><%= link_to(user_path(u)) do %>
		  <%= u.username %>
		  <% if !u.first_name.blank? %>
		  	(<%= u.display_name %>)
		  <% end %>
		 <% end %>
	  </div>
	  <% if u.sits_count.nonzero? %>
	  	<div class="sit-count">&mdash; <%= pluralize(u.sits.count, 'sit') %></div>
	  <% end %>
	  <div class="location">
	  <%= "#{u.location}." if u.location %>
	  <span class="joined">Joined <%= joined_date(u) %></span></div>
	  <%= render :partial => "shared/follow_button", :locals => { :user => u } %>
	 </div>
	 <div>

	 </div>
</div>