<%= form_for(@sit) do |f| %>
  <% if @sit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sit.errors.count, "error") %> prohibited this sit from being saved:</h2>

      <ul>
      <% @sit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :allow_comments %>
    <%= f.check_box :allow_comments, { checked: true } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
