<%= simple_form_for(@sit, :html => { :class => 'form-horizontal'}) do |f| %>
  <% if @sit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sit.errors.count, "error") %> prohibited this sit from being saved:</h2>

      <ul>
      <% @sit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :s_type, :label => false, :collection => [['Sit', 0], ['Diary', 1], ['Article', 2]], :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => '0' %>
  
  <div class="new-sit-title">
    <%= f.input :title %>
  </div>

  <div class="new-sit-duration">
    <%= f.input :duration, :input_html => { :value => current_user.default_sit_length } %>
  </div>

  <%= f.input :body, :input_html => { :rows => 10, :class => "basic-form" } %>

  <%= f.input :disable_comments %>

  <%= f.submit %>
  
<% end %>
