<%= simple_form_for(@sit, :html => { :class => 'form-horizontal'}) do |f| %>
  <% if @sit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sit.errors.count, "error") %> prohibited this sit from being saved:</h2>

      <ul>
      <% @sit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_page? new_sit_path(@sit) %>
    <div class="control-group radio_buttons required"><div class="controls">
    <label class="radio"><input checked class="radio_buttons required" id="sit_s_type_0" name="sit[s_type]" type="radio" value="0" />I just sat for <input class="string optional" id="sit_duration" name="sit[duration]" size="50" type="text" value="<%= current_page?(new_sit_path(@sit)) ? @user.default_sit_length : @sit.duration %>"> minutes</label>
    <br>
    <label class="radio"><input class="radio_buttons required" id="sit_s_type_1" name="sit[s_type]" type="radio" value="1" />This is a diary entry.</label></div></div>

    <div class="new-sit-title">
      <%= f.input :title %>
    </div>
  <% end %>

  <%= f.input :body, :label => 'What\'s happening?', :input_html => { :rows => 10, :class => "basic-form" } %>

  <div class="new-sit-date">
    <%= f.input :created_at, :as => 'string', :label => 'Date', :input_html => { :placeholder => 'Just now.', :value => current_page?(new_sit_path(@sit)) ? @sit.created_at : @sit.created_at.strftime('%Y-%m-%d'), :label => 'none', :id => 'datepicker' } %>
  </div>

  <%= f.input :tag_list, :as => 'string', :label => 'Tags (separate by commas)' %>

  <%= f.input :disable_comments %>

  <%= if !current_page?(new_sit_path(@sit)) 
    link_to 'Delete this event', sit_path(@sit), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'
    end %>
  <%= f.submit :class => 'btn pull-right' %>
  
<% end %>
