<%= simple_form_for(@sit, :html => { :class => 'form-horizontal'}) do |f| %>
  <% if @sit.errors.any? %>
    <div class="alert alert-danger">
      Please fill in the required fields.
    </div>
  <% end %>

  <%= if current_page?(edit_sit_path(@sit))
    link_to 'Delete', sit_path(@sit), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-small btn-danger delete-entry pull-right'
    end %>

    <div class="privacy-pane">
      <% if !current_user.private_stream %>
        <button type="button" class="btn btn-small privacy-button"><i class="fa fa-cog"></i> Privacy</button>
        <div class="privacy-options">
          <%= f.input :private, label: 'Make this entry <strong>private</strong>'.html_safe %>
          <%= f.input :disable_comments %>
        </div>
      <% else %>
        <i class="fa fa-lock"></i> Your stream is private.
      <% end %>
    </div>

    <div class="sit_type control-group radio_buttons required">
      <div class="controls">
        <label class="radio sit_label">
          <input <%= @sit.s_type == 0 || @sit.s_type.nil? ? 'checked' : '' %> class="radio_buttons required" id="sit_s_type_0" name="sit[s_type]" type="radio" value="0" />I just sat for <input class="string optional" id="sit_duration" name="sit[duration]" size="50" type="text" value="<%= current_page?(new_sit_path(@sit)) ? @user.default_sit_length : @sit.duration %>"> minutes
        </label>
        <br><br>
        <label class="radio diary_label">
          <input <%= @sit.s_type == 1 ? 'checked' : '' %> class="radio_buttons required diary_type" id="sit_s_type_1" name="sit[s_type]" type="radio" value="1" />This is a diary entry.
        </label>
      </div>
    </div>
    
    <br>
    <div class="new-sit-title">
      <%= f.input :title %>
    </div>

  <%= f.input :body, :label => 'What\'s happening?', :input_html => { :rows => 10, :autofocus => true, :class => "basic-form rich-textarea" } %>

  <div class="new-sit-date">
    <%= f.input :created_at, :as => 'string', :label => 'Date', :input_html => { :placeholder => 'Just now.', :value => current_page?(edit_sit_path(@sit)) ? @sit.created_at.strftime('%Y-%m-%d %H:%M') : '', :label => 'none', :class => 'datepicker' } %>
  </div>

  <%= f.input :tag_list, :as => 'string', :label => 'Tags (separate by commas)' %>
  
  <div class="controls">
    <%= f.submit :class => 'btn btn-large btn-primary pull-left' %>
  </div>

<% end %>
