<div class="nav-module sit-meta">
	<div class="date"><%= @sit.date %><br>
		<div class="time"><%= @sit.created_at.strftime("%l:%M %p") %></div>
	</div>

  <ul class="pager">
	  <%= previous_sit(@sit) %>
	  <%= next_sit(@sit) %>
	</ul>

	<div class="journal-stats">
		<p><%= @user.display_name %> has <%= @user.sits_count %> entries in their meditation journal. Last updated <%= time_ago_in_words(@user.last_update) %> ago.</p>
		<p><a href="<%=user_path(@user)%>">View full meditation journal</a></p>
	</div>
</div>
