<div class="nav-module sit-meta">
	<div class="date"><%= @sit.date %></div>

  <ul class="pager">
	  <%= previous_sit(@sit) %>
	  <%= next_sit(@sit) %>
	</ul>

	<div class="journal-stats">
		<%= @user.display_name %> has logged <%= @user.total_entries %> entries. Last updated <%= time_ago_in_words(@user.last_update) %> ago.
	</div>
</div>
