<div class="section view-sit">

  <section class="sidebar">
    <%= render :partial => 'shared/sidebar-other' %>
  </section>

  <article class="content sit">

    <header>
      <div class="full-sit-date"><%= @sit.date %></div>
      <% if current_user and @sit.mine?(current_user) %>
        <div class="my-actions"><%= link_to 'Edit', edit_sit_path(@sit), :class => 'btn btn-mini' %></div>
      <% end %>
      <h3><%= @sit.full_title %></h3>
    </header>

    <div class="body"><%= @sit.body.html_safe %></div>

    <% if !@sit.tags.empty? %>
      <div class="tags">
        <i class="icon-tag"></i><%= tag_labels(@sit.tags) %>
      </div>
    <% end %>

    <div class="actions">
      <i class="icon-star-empty"></i>
      <i class="icon-link"></i>
    </div>

    <div class="action-bar">
      <%= previous_sit(@sit) %>
      <%= next_sit(@sit) %>
    </div>

    <div class="comments">
      <% if @sit.disable_comments %>
        <p>Comments have been disabled for this sit.</p>
      <% else %>
        <h4>Comments</h4>
        <% if (@sit.comments.count == 0) %>
          <p>No one has posted a comment yet; be the first!</p>
        <% else %>
          <% @sit.comments.each do |comment| 
            @comment = comment %>
            <%= render 'comments/comment' %>
          <% end %>
        <% end %>

      <% if @sit.comments.count > 1 %>
        <h4>Add a comment</h4>
      <% end %>
      <%= simple_form_for [@sit, @sit.comments.build], :remote => 'true' do |f| %>
        <%= f.input :body, :label => false, :input_html => { :rows => 5, :class => 'span6' } %>
        <%= f.submit 'Add comment' %>
      <% end %>
    <% end %>
    </div>

  </article>

</div>
