<div class="sidebar col-md-3">
  <%= render 'shared/user_summary' %>
</div>

<div class="clearfix col-md-9">
  <div class="text-section">

    <%= render 'back_button' %>

    <header>
      <div class="mobile-user-summary">
        <%= small_avatar_of(@user) %>
        <%= username(@user) %>
      </div>

      <h1 class="sit-title"><%= @sit.full_title %></h1>

      <div class="sit-stats">
        <div class="stat">
          <% if current_user and @sit.mine?(current_user) %>
            <%= link_to 'Edit', edit_sit_path(@sit) %>
          <% end %>
        </div>
        <div class="stat">
          <i class="fa fa-clock-o"></i> <span title=""><%= @sit.date %> <%= @sit.created_at.strftime("%l:%M %p") %></span>
        </div>
        <div class="stat">
          <%= "<i class='fa fa-heart'></i> #{@sit.likes.count}".html_safe if @sit.liked? %>
        </div>
        <div class="stat">
          <%= "<i class='fa fa-comment'></i> #{@sit.comments.count}".html_safe if @sit.comments.present? %>
        </div>
      </div>

      <div class="tags-container">
        <% if !@sit.tags.empty? %>
          <span class="fa fa-tags"></span><%= tag_labels(@sit.tags) %>
        <% end %>
      </div>
    </header>

    <% if @sit.user.private_stream %>
      <div class="private-warning">
        <span class="label label-primary"><i class="fa fa-lock"></i> Your stream is private.</span>
      </div>
    <% elsif @sit.private %>
      <div class="private-warning">
        <span class="label label-primary"><i class="fa fa-lock"></i> This is a private entry.</span>
      </div>
    <% end %>

    <div class="body">
      <%= @sit.body.html_safe %>
    </div>

    <div class="drawing">
      <%= image_tag @sit.drawing.url(:medium) %>
    </div>


    <% if current_user %>
      <div class="row">
        <div class="like-row<%= ' my-sit' if current_user == @user %>">
          <div class="col-md-12 like-it">
            <div id="who_likes">
              <%= render 'likes/like_module' %>
            </div>
            <%= render 'shared/like_button' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <i class="fa fa-flag-o report-flag" data-container='body' data-toggle='tooltip' data-placement='top' title='Report something on this page'></i>
          <%= render 'reports/report_modal', reportable: @sit %>
        </div>
      </div>
    <% end %>

      <div class="prev-next-row">
        <% if @previous %>
          <div class="sit_preview previous">
            <%= link_to sit_path(@previous) do %>
              <div class="arrow">
                <i class="fa fa-chevron-left"></i>
              </div>
              <%= render partial: 'sit_preview', locals: { sit: @previous } %>
            </div>
          <% end %>
        <% end %>

        <% if @next %>
          <div class="sit_preview next">
            <%= link_to sit_path(@next) do %>
              <%= render partial: 'sit_preview', locals: { sit: @next } %>
              <div class="arrow">
                <i class="fa fa-chevron-right"></i>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% if !@sit.disable_comments && !@sit.private %>
    <div class="comments">
      <% if !@sit.comments.empty? %>
        <h2>Comments</h2>
      <% end %>
      <div class="comments-list">
        <% @sit.comments.order(:created_at).each do |comment|
          @comment = comment %>
          <%= render 'comments/comment' %>
        <% end %>
      </div>

      <% if user_signed_in? %>
      <div class="new-comment">
        <%= simple_form_for [@sit, @sit.comments.build], :remote => 'true' do |f| %>
          <%= f.input :body, :label => false, :input_html => { :rows => 8, :class => 'rich-textarea col-md-12', :placeholder => 'Have your say.' } %>
          <%= f.submit 'Post comment', :class => 'post-comment-btn btn btn-primary btn-lg pull-right' %>
        <% end %>
      </div>
      <% end %>

    <% end %>
  </div>
</div>
