<div class="section view-sit">
  
  <% if flash[:notice] -%>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

  <section class="sidebar">
    <%= avatar(@sit.user) %>
    <h4><%= username(@sit.user) %></h4>
    <%= location(@sit.user) %>
  </section>

  <article class="content sit">

    <header>
    <% if (@type == 'sit') %>
        <h3><i class="icon-time"></i> <%= @sit.duration %> minute sit on  <%= localize(@sit.created_at, :format => :short) %></h3>
    <% elsif (@type == 'diary') %>
        <h3><i class="icon-book"></i> <%= @sit.title %></h3>
    <% else %>
        <h3><i class="icon-beaker"></i> Article</h3>
    <% end %>
    </header>

    <div class="body"><%= @sit.body.html_safe %></div>

    <div class="action-bar">
      <span class="previous"><i class="icon-arrow-left"></i> <%= link_to 'Previous', sit_path(@sit.prev) %></span>
      <span class="next"><%= link_to 'Next', sit_path(@sit.next) %> <i class="icon-arrow-right"></i></span>
    </div>

    <div class="comments">
      <% if @sit.disable_comments %>
        <p>Comments have been disabled for this sit.</p>
      <% else %>
        <h4>Comments</h4>
        <% if (@sit.comments.count == 0) %>
          <p>No one has posted a comment yet; be the first!</p>
        <% else %>
          <% @sit.comments.each do |comment| %>
            <div class="comment">
              <div class="comment-body"><%= comment.body.html_safe %></div>
              <div class="user"><%= username(@sit.user) %>, <%= time_ago_in_words(comment.created_at) %> ago</div>
            </div>
          <% end %>
        <% end %>
    </div>

      <% if @sit.comments.count > 1 %>
        <h4>Add a comment</h4>
      <% end %>
      <%= simple_form_for [@sit, @sit.comments.build] do |f| %>
        <%= f.input :body, :label => false, :input_html => { :rows => 5, :class => 'span6' } %>
        <%= f.submit 'Add comment' %>
      <% end %>
    <% end %>

  </article>

</div>
