<div class="section view-sit">

  <section class="sidebar">
    <%= render :partial => 'shared/sidebar-other' %>
  </section>

  <article class="content sit">

    <header>
      <div class="full-sit-date"><%= @sit.date %></div>
      <h3><%= @sit.full_title %></h3>
    </header>

    <div class="body"><%= @sit.body.html_safe %></div>

    <div class="actions">
      <ul>
        <li><%= @sit.tag_list %></li>
        <li><a href="#">Add-to/remove-from favourites</a></li>
        <li>Permalink to this sit</li>
        <li><b>If user owns the sit:</b> buttons to edit or delete</li>
      </ul>
    </div>

    <div class="action-bar">
      <%= previous_sit(@sit) %>
      <%= next_sit(@sit) %>
    </div>

    <div class="comments">
      <% if @sit.disable_comments %>
        <p>Comments have been disabled for this sit.</p>
      <% else %>
        <h4>Comments</h4>
        <% if (@sit.comments.count == 0) %>
          <p>No one has posted a comment yet; be the first!</p>
        <% else %>
          <% @sit.comments.each do |comment| 
            @comment = comment %>
            <%= render 'comments/comment' %>
          <% end %>
        <% end %>

      <% if @sit.comments.count > 1 %>
        <h4>Add a comment</h4>
      <% end %>
      <%= simple_form_for [@sit, @sit.comments.build], :remote => 'true' do |f| %>
        <%= f.input :body, :label => false, :input_html => { :rows => 5, :class => 'span6' } %>
        <%= f.submit 'Add comment' %>
      <% end %>
    <% end %>
    </div>

  </article>

</div>
