<div class="section sign-in">
	<div class="well col-md-4">
		<h1>Welcome back!</h1>

		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

 		<% if flash.any? %>
			<div class="alert alert-danger">
			<%- flash.each do |name, msg| -%>
	          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			<%- end -%>
			</div>
		<% end %>

		  <%= f.input :email, placeholder: 'Your email', label: false %>

		  <%= f.input :password, placeholder: 'Password', label: false %>

      <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true if devise_mapping.rememberable? %>

		  <div><%= f.submit "Login", :class => 'pull-right btn btn-primary btn-lg' %></div>

		<% end %>

		<div class="row"><%= render "devise/shared/links" %></div>
	</div>
</div>
