<footer>
  <div class="container">
    <div class="col-md-3">
      <p class="header">Community</p>
      <ul>
        <li><a href="https://twitter.com/opensit">Twitter</a></li>
        <li><a href="https://www.facebook.com/opensit.meditation">Facebook</a></li>
        <li><a href="https://www.google.com/+Opensitmeditation">Google+</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <p class="header">About</p>
      <ul>
        <li><%= link_to 'About OpenSit', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><%= link_to 'Feedback', 'http://opensit.uservoice.com/' %></li>
      </ul>
    </div>

    <div class="col-md-3">
      <p class="header">Contribute</p>
      <ul>
        <li><%= link_to 'How to Contribute', '/contribute' %></li>
        <li><%= link_to 'GitHub', 'http://github.com/danbartlett/opensit' %></li>
      </ul>
    </div>

    <div class="copyright-holder col-md-3">
      <%= image_tag('/images/logomark_trans.png', class: 'footer-logo') %>
      <p class="copyright">&copy; 2013-<%= Time.now.year %> OpenSit</p>
    </div>
  </div>
</footer>