<header id="main-header">
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to 'OpenSit', root_path, :class => 'brand' %>
          
          <% if user_signed_in? %>
            <%= link_to(new_sit_path, class: 'pull-left btn btn-primary', 'data-push' => true) do %>
              <i class="icon-plus icon-white"></i> New Sit
            <% end %>
            <!-- <a class="btn" href="#"><i class="icon-globe"></i> -->
            <%= link_to(messages_path, class: 'pull-left btn', 'data-push' => true) do %>
              <i class="icon-envelope"></i> <strong><%= current_user.unread_count %></strong>
          <% end %>

          <ul class="nav pull-right">
            <li class="explore"><%= link_to "Explore", explore_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><form class="navbar-search"><input type="text" name="search" class="search-query" placeholder="Search" /></form></li>

            <div class="btn-group pull-right">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-cogs"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to edit_user_registration_path do %>
              <i class="icon-user icon-white"></i> Edit profile <% end %></li>
                <div class="divider"></div>
                <li><%= link_to(destroy_user_session_path, :method => :delete) do %> 
              <i class="icon-signout"></i> Sign out <% end %></li>
              </ul>
            </div>
          </ul>

          <div class="loading-indicator">
            <i class="icon-spinner icon-spin icon-large"></i>
          </div>
          
         <% else %>
          <ul class="nav">
            <li><%= link_to "Sign in", new_user_session_path %></li>
          </ul>
         <% end %>
        </div>
      </div>
    </nav>
  </header>