<header id="main-header">
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to 'OpenSit', root_path, :class => 'brand' %>
          <span class="alpha pull-left">alpha</span>
          
          <% if user_signed_in? %>
            <span class="icons">
              <%= link_to(notifications_path, class: 'pull-left', title: 'Notifications') do %>
                <%= new_notifications(current_user) %>
              <% end %>
              <%= link_to(new_sit_path, class: 'pull-left', title: 'Add sit') do %>
                <i class="fa fa-plus"></i>
              <% end %>
              <%= link_to(messages_path, class: 'pull-left', title: 'Inbox') do %>
                <i class="fa fa-envelope"> <span class="unread-count"><%= current_user.unread_count %></span></i>
              <% end %>
            </span>

          <ul class="nav pull-right">
            <% if !(request.path =~ /search/) %>
              <li><form action="/search" class="navbar-search"><input type="text" name="q" placeholder="Search" /><input type="hidden" name="type" value="sits"></form></li>
            <% end %>

            <div class="btn-group pull-right">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-cogs"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to edit_user_registration_path do %>
              <i class="fa fa-user"></i> &nbsp;Edit profile <% end %></li>
                <div class="divider"></div>
                <li><%= link_to(destroy_user_session_path, :method => :delete) do %> 
              <i class="fa fa-sign-out"></i> &nbsp;Sign out <% end %></li>
              </ul>
            </div>
          </ul>

          <div class="loading-indicator">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
          </div>
          
         <% else %>
          <ul class="nav">
            <li class="sign-up-link"><%= link_to "Sign up for free", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          </ul>
         <% end %>
        </div>
      </div>
    </nav>
  </header>