<header id="main-header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "OpenSit", root_path, :class => 'brand' %>
         <% if user_signed_in? %>
          <a class="pull-left btn btn-primary" href="/sits/new"><i class="icon-plus icon-white"></i></a>
          <a class="btn btn-inverse" href="<%= edit_user_registration_path %>"><i class="icon-user icon-white"></i> <%= current_user.username %></a>
          <a class="btn btn-inverse" href="<%= messages_path %>"><i class="icon-envelope"></i> <strong><%= current_user.unread_count %></strong></a>
          <ul class="nav pull-right">
            <li class="explore"><%= link_to "Explore", front_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Blog", '#' %></li>
            <li><form class="navbar-search"><input type="text" name="search" class="search-query" placeholder="Search" /></form></li>
            <li class="logout"><%= link_to(destroy_user_session_path, :method => :delete) do %> 
              <i class="icon-signout"></i>  <% end %>
            </li>
          </ul>
         <% else %>
          <ul class="nav">
            <li><%= link_to "Sign in", new_user_session_path %></li>
          </ul>
         <% end %>
        </div>
      </div>
    </nav>
  </header>