  <header id="main-header">
    <nav class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "OpenSit", root_path, :class => 'brand' %>
          <ul class="nav pull-right">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Blog", '#' %></li>
            <li><form class="navbar-search"><input type="text" name="search" class="search-query" placeholder="Search" /></form></li>
          </ul>
         <% if user_signed_in? %>
          <a class="pull-left btn btn-inverse" href="/me"><i class="icon-user icon-white"></i>
            <%= current_user.username %>
          </a>
          <a class="pull-left btn btn-primary" href="/sits/new"><i class="icon-plus icon-white"></i>
            New sit
          </a>
           
          <ul class="nav">
            <li><%= link_to "Settings", edit_user_registration_path %></a></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          </ul>
         <% else %>
          <ul class="nav">
            <li><%= link_to "Sign in", new_user_session_path %></li>
          </ul>
         <% end %>
        </div>
      </div>
    </nav>
  </header>