<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="bUUwYz6cKVuhYbL7PtFunzsGV67I56tGyDldiHJgs7k" />
  <meta name="msvalidate.01" content="C658B228754E35B84B6016654CC6403D" />
  <title><%= full_title(@title) %></title>
  <link rel="shortcut icon" href="<%= image_path 'logo_32.png' %>" />
  <% if !(request.fullpath =~ /sits/) %>
    <meta name="description" content="<%= meta_desc(@desc) %>" />
  <% end %>

  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  </script>
</head>