<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "font-awesome" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>

  <div class="base-container">
    
    <%= render 'layouts/header' %>

    <div class="page-content" data-pjax-container>
      <% if flash[:notice] -%>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] -%>
        <div class="alert alert-error"><%= flash[:notice] %></div>
      <% end %>
       
      <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
  
  </div> <!-- end #base-container -->
      
  </body>
</html>
 