<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Pacifico' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
    <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/k0P7h6HxJQhRGClPw5M4kg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
  </head>
  
  <body>
    <!-- A tab to launch the UserVoice Classic Widget -->
    <script>
      UserVoice = window.UserVoice || [];
      UserVoice.push(['showTab', 'classic_widget', {
        mode: 'full',
        primary_color: '#e66f69',
        link_color: '#007dbf',
        default_mode: 'support',
        forum_id: 208850,
        support_tab_name: 'Report issues',
        feedback_tab_name: 'Got an idea?',
        tab_label: 'Feedback & Support',
        tab_color: '#e66f69',
        tab_position: 'bottom-right',
        tab_inverted: false
      }]);
    </script>

  <div class="base-container">
    
    <%= render 'layouts/header' %>

    <div class="page-content">
      <% if flash[:notice] -%>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] -%>
        <div class="alert alert-error"><%= flash[:notice] %></div>
      <% end %>
       
      <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
    <%= render 'layouts/analytics' %>
  
  </div> <!-- end #base-container -->
      
  </body>
</html>
 