<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>
    <!-- A tab to launch the UserVoice Classic Widget -->
    <script>
      UserVoice = window.UserVoice || [];
      UserVoice.push(['showTab', 'classic_widget', {
        mode: 'full',
        primary_color: '#63a961',
        link_color: '#63a961',
        default_mode: 'support',
        forum_id: 208850,
        support_tab_name: 'Report issues',
        feedback_tab_name: 'Got an idea?',
        tab_label: 'Feedback & Support',
        tab_color: '#63a961',
        tab_position: 'bottom-right',
        tab_inverted: false
      }]);
    </script>

    <% if (controller_name.in? ['registrations', 'sessions']) && controller.action_name != 'edit' %>
      <% @page_class = 'sign-up-or-in' %>
      <%= render 'shared/brand_header' %>
    <% end %>

    <div class="container base-container">
      <% if !current_page?(root_path) %>
        <%= render 'layouts/header' %>
      <% end %>

      <div class="page-content container <%= @page_class %>">

        <div class="row">
          <% if !(controller_name.in? ['registrations', 'sessions']) %>
            <% if flash[:notice] -%>
                <div class="alert alert-success"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:error] -%>
                <div class="alert alert-danger"><%= flash[:error] %></div>
            <% end %>
          <% end %>

          <%= yield %>
        </div>

      </div>

      <div class="spacer"></div>
    </div>


  </div> <!-- end #base-container -->

  <%= render 'layouts/footer' %>
  <%= render 'layouts/analytics' %>

  </body>
</html>
