<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body class="<%=@page_class%>">
    <%= yield %>
  </body>

  <%= render 'layouts/footer' %>
  <%= render 'layouts/analytics' %>

  </body>
</html>